* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

.container {
  max-width: $container-xl;
  margin: 0 auto;

 @media (max-width: $breakpoint-xl) {
        max-width: $container-lg;
    }
  @media (max-width: $breakpoint-lg) {
        max-width: $container-md;
    }
  @media (max-width: $breakpoint-md) {
        max-width: $container-sm;
    }
  @media (max-width: $breakpoint-sm) {
        max-width: 100%;
        padding: 0 12px;
    }
}

body {
    margin: 0;
    background-color: $bg-color;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $base-color;
    line-height: 24px;
}

h1 {
    font-family: 'Oxanium', sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 1.5;
    color: $base-color;
    
    span {
      color: $primary;
    }
}

h2 {
  font-family: 'Oxanium', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #F5FBF2;
  margin: 0;
  @media (max-width: $breakpoint-md) {
    font-size: 36px;
  }
}

a {
  text-decoration: none;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #9B9E9A;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.view-all-btn {
  width: 257px;
  height: 84px;
  background: transparent;
  border: 1px solid $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: $base-color;
}