.categories {
  padding-top: 80px;
  background-color: $categories-bg-color;
    
  &__title {
    width: 670px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .categories__title-circle {
      width: 110px;
      height: 110px;
      background: #8613A5;
      border-radius: 50%;
      position: absolute;
      left: -20px;
      z-index: 1;
    }

    h2 {
      z-index: 2;
    }
  }
  
  &__content {
    display: flex;
    gap: 42px;
    margin-bottom: 80px;
    justify-content: center;
  }
  
  &__navigation {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: 80px;
    width: 136px;
    height: 54px;
  }
  
  &__view-all {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }
} 