.clients{
  margin-bottom: 184px;
}

.clients__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 132px;
  flex-wrap: wrap;
  
  img {
    max-width: 200px;
    height: auto;
    object-fit: contain;
  }
}
