.creators {
  margin-top: 104px;
    
  &__title {
    display: flex;
    height: 130px;
    align-items: center;
    margin-bottom: 80px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .creators__title-circle {
      width: 110px;
      height: 110px;
      background: #E03054;
      border-radius: 50%;
      position: absolute;
      left: 108px;
      z-index: 1;
    }

    h2 {
      z-index: 2;
    }
  }
  
  .creators__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin-bottom: 80px;
    justify-content: center;
  }
  
  &__view-all {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }
} 

.creators__card {
  border-left: 2px solid rgba(224, 48, 84, 1);
  background-color: rgba(48, 32, 52, 1);
  display: flex;
  gap: 100px;
  padding: 26px;
}

.creators__creator-group {
  display: flex;
  gap: 24px;
}

.creators__creator-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.creators__card-info {
  padding: 11px 45px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-left: 2px solid rgba(73, 55, 78, 1);
  align-items: center;
}

.creators__creator-name {
  font-family: 'Oxanium', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.creators__balance-value {
  color: rgba(189, 170, 193, 1);
  line-height: 36px;
  font-size: 24px;
  font-weight: 500;
}

.creators__value {
  font-family: 'Oxanium', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5%;
}

.creators__card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  color: rgba(144, 130, 148, 1);
}