.hero {
  margin-top: 245px;
  margin-bottom: 185px;

  h1 {
    margin-bottom: 80px;
  }

  .hero__content {
    display: flex;
    justify-content: center;
    gap: 99px;
    flex-wrap: wrap;

    @media (max-width: $breakpoint-lg) {
      justify-content: center;
      text-align: center;
    }
  }

  .hero__group {
    max-width: 710px;
  }

  .hero__buttons {
    display: flex;
    gap: 48px;
    margin-bottom: 121px;
  }

  .hero__btn {
    width: 257px;
    height: 84px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__btn-primary {
    background-color: $primary;
    color: $black;
  }

  .hero__btn-secondary {
    background-color: $btn-bg-color;
    border: 1px solid $primary;
    color: $white;
  }

  .hero__counter {
    display: flex;
    gap: 103px;
    justify-content: center;
    flex-wrap: wrap;
    
    .hero__counter-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.hero__bid {
  background-color: $white;
}

.hero__bid-footer {
  height: 142px;
  padding: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__footer-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__footer-title {
  font-size: 28px;
  font-family: 'Oxanium', sans-serif;
  color: #16091B;
  font-weight: 600;
}

.hero__footer-value {
  color: #594D5E;
  font-size: 24px;
}

.hero__bid-btn {
  width: 205px;
  height: 72px;
  background-color: $primary;
  font-weight: 700;
  font-size: 24px;
}