.live-auctions {
  background: linear-gradient(162deg, rgba(37, 25, 40, 0), rgba(32, 25, 40, 1));
  
  &__title {
    width: 449px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .live-auctions__title-circle {
      width: 110px;
      height: 110px;
      background: #8613A5;
      border-radius: 50%;
      position: absolute;
      left: -20px;
      z-index: 1;
    }

    h2 {
      z-index: 2;
    }
  }
  
  &__cards {
    display: flex;
    gap: 42px;
    margin-bottom: 80px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  &__navigation {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: 80px;
    width: 136px;
    height: 54px;
  }
  
  &__view-all {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }
}

.live-auctions__card {
  padding: 32px;
  background-color: rgba(61, 41, 66, 1);
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.live-auction__author-group {
  display: flex;
  justify-content: space-between;
}

.live-auction__author-title {
  font-weight: 600;
  font-size: 24px;
}

.live-auction__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.live-auction__author-info {
  display: flex;
  gap: 12px;

  img {
    width: 54px;
    height: 54px;
  }
}

.live-auction__author-sign {
  font-size: 18px;
  font-weight: 400;
  color: rgba(189, 170, 193, 1);
}

.live-auction__card-likes {
  display: flex;
  gap: 12px;

  p {
    font-weight: 400px;
    color: rgba(189, 170, 193, 1);
    font-size: 24px;
  }

  img{
    width: 24px;
    height: 24px;
  }
}

.live-auction__bid-info {
  display: flex;
  justify-content: space-between;
}

.live-auction__bid-title {
  font-weight: 400;
  font-size: 20px;
  color: rgba(198, 191, 200, 1);
}

.live-auction__bid-value {
  font-family: 'Oxanium', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.live-auction__btn {
  width: 100%;
  border: 1px solid rgba(253, 232, 179, 1);
  background-color: rgba(233, 215, 167, 0.1);
  font-weight: 400;
  font-size: 24px;
  color: white;
  height: 78px;
  font-family: 'Work Sans', sans-serif;
}