.subscribe {
  position: relative;
  min-height: 452px;
  background: linear-gradient(110deg, rgba(28,18,31,1) 8%, rgba(28,18,31,0.21) 87%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  
  background-image: url('/img/pattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe__wrapper {   
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe__title {
  text-align: center;
  margin-bottom: 40px;
  line-height: 120%;
}

.subscribe__form {
  display: flex;
  width: 100%;
  max-width: 680px;
  background: transparent;
  border: 1px solid $primary;
  height: 96px;
  align-items: center;
}

.subscribe__input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: $secondary;
  font-size: 24px;
  padding: 0 32px;
}

.subscribe__btn {
  width: 244px;
  height: 100%;
  background: $primary;
  color: $bg-color;
  font-size: 24px;
  font-family: 'Oxanium', sans-serif;
  font-weight: 700;
}