$base-color: #F5FBF2;
$primary: #FFCE4E;
$secondary: #9B9E9A;
$bg-color: #1C121F;
$btn-bg-color: rgba(233, 215, 167, 0.1);
$card-bg-color: #3D2942;
$categories-bg-color: #251928;
$white: #ffffff;
$black: #000000;

$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1367px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1400px;