* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

.container {
  max-width: 1367px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
}

body {
  margin: 0;
  background-color: #1C121F;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F5FBF2;
  line-height: 24px;
}

h1 {
  font-family: "Oxanium", sans-serif;
  font-size: 85px;
  font-weight: 700;
  line-height: 1.5;
  color: #F5FBF2;
}
h1 span {
  color: #FFCE4E;
}

h2 {
  font-family: "Oxanium", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #F5FBF2;
  margin: 0;
}
@media (max-width: 768px) {
  h2 {
    font-size: 36px;
  }
}

a {
  text-decoration: none;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #9B9E9A;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.view-all-btn {
  width: 257px;
  height: 84px;
  background: transparent;
  border: 1px solid #FFCE4E;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #F5FBF2;
}

.desktop-nav, .mobile-nav {
  position: fixed;
  width: 100%;
  background-color: #1C121F;
  z-index: 10;
  top: 0;
}

.desktop-nav__wrap {
  padding: 37px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktop-nav__wrap ul {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
}
.desktop-nav__wrap li a {
  font-size: 18px;
  font-weight: 500;
  color: #F5FBF2;
}
.desktop-nav__wrap li a:hover {
  color: #FFCE4E;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.desktop-nav__wrap button {
  width: 195px;
  height: 64px;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #FFCE4E;
  color: #FFCE4E;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .desktop-nav__wrap {
    display: none;
  }
}

.mobile-nav {
  display: none;
}
@media (max-width: 992px) {
  .mobile-nav {
    display: block;
  }
}
.mobile-nav .mobile-nav__wrap {
  background-color: #1C121F;
}
.mobile-nav .icon_menu-open {
  display: block;
}
.mobile-nav .icon_menu-close {
  display: none;
}
.mobile-nav .mobile-nav__header {
  padding: 34px 16px;
}
.mobile-nav .mobile-nav__content {
  display: none;
}
.mobile-nav .mobile-nav__content button {
  width: 195px;
  height: 64px;
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #FFCE4E;
  color: #FFCE4E;
  font-size: 16px;
  font-weight: 500;
  margin: 0px auto;
  margin-bottom: 50px;
}
.mobile-nav .mobile-nav__content .nav__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}
.mobile-nav .mobile-nav__content .nav__list a {
  font-size: 18px;
  font-weight: 500;
  color: #F5FBF2;
}
.mobile-nav .mobile-nav__content .nav__list a:hover {
  color: #FFCE4E;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.mobile-nav.opened .mobile-nav__wrap {
  border-radius: 0 0 8px 8px;
}
.mobile-nav.opened .icon_menu-open {
  display: none;
}
.mobile-nav.opened .icon_menu-close {
  display: block;
}
.mobile-nav.opened .mobile-nav__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  margin-top: 245px;
  margin-bottom: 185px;
}
.hero h1 {
  margin-bottom: 80px;
}
.hero .hero__content {
  display: flex;
  justify-content: center;
  gap: 99px;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .hero .hero__content {
    justify-content: center;
    text-align: center;
  }
}
.hero .hero__group {
  max-width: 710px;
}
.hero .hero__buttons {
  display: flex;
  gap: 48px;
  margin-bottom: 121px;
}
.hero .hero__btn {
  width: 257px;
  height: 84px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero__btn-primary {
  background-color: #FFCE4E;
  color: #000000;
}
.hero .hero__btn-secondary {
  background-color: rgba(233, 215, 167, 0.1);
  border: 1px solid #FFCE4E;
  color: #ffffff;
}
.hero .hero__counter {
  display: flex;
  gap: 103px;
  justify-content: center;
  flex-wrap: wrap;
}
.hero .hero__counter .hero__counter-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__bid {
  background-color: #ffffff;
}

.hero__bid-footer {
  height: 142px;
  padding: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__footer-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__footer-title {
  font-size: 28px;
  font-family: "Oxanium", sans-serif;
  color: #16091B;
  font-weight: 600;
}

.hero__footer-value {
  color: #594D5E;
  font-size: 24px;
}

.hero__bid-btn {
  width: 205px;
  height: 72px;
  background-color: #FFCE4E;
  font-weight: 700;
  font-size: 24px;
}

.clients {
  margin-bottom: 184px;
}

.clients__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 132px;
  flex-wrap: wrap;
}
.clients__logos img {
  max-width: 200px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.live-auctions {
  background: linear-gradient(162deg, rgba(37, 25, 40, 0), rgb(32, 25, 40));
}
.live-auctions__title {
  width: 449px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.live-auctions__title .live-auctions__title-circle {
  width: 110px;
  height: 110px;
  background: #8613A5;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  z-index: 1;
}
.live-auctions__title h2 {
  z-index: 2;
}
.live-auctions__cards {
  display: flex;
  gap: 42px;
  margin-bottom: 80px;
  justify-content: center;
  flex-wrap: wrap;
}
.live-auctions__navigation {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: 80px;
  width: 136px;
  height: 54px;
}
.live-auctions__view-all {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.live-auctions__card {
  padding: 32px;
  background-color: rgb(61, 41, 66);
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.live-auction__author-group {
  display: flex;
  justify-content: space-between;
}

.live-auction__author-title {
  font-weight: 600;
  font-size: 24px;
}

.live-auction__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.live-auction__author-info {
  display: flex;
  gap: 12px;
}
.live-auction__author-info img {
  width: 54px;
  height: 54px;
}

.live-auction__author-sign {
  font-size: 18px;
  font-weight: 400;
  color: rgb(189, 170, 193);
}

.live-auction__card-likes {
  display: flex;
  gap: 12px;
}
.live-auction__card-likes p {
  font-weight: 400px;
  color: rgb(189, 170, 193);
  font-size: 24px;
}
.live-auction__card-likes img {
  width: 24px;
  height: 24px;
}

.live-auction__bid-info {
  display: flex;
  justify-content: space-between;
}

.live-auction__bid-title {
  font-weight: 400;
  font-size: 20px;
  color: rgb(198, 191, 200);
}

.live-auction__bid-value {
  font-family: "Oxanium", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.live-auction__btn {
  width: 100%;
  border: 1px solid rgb(253, 232, 179);
  background-color: rgba(233, 215, 167, 0.1);
  font-weight: 400;
  font-size: 24px;
  color: white;
  height: 78px;
  font-family: "Work Sans", sans-serif;
}

.how-it-works {
  margin-top: 185px;
  margin-bottom: 174px;
}
.how-it-works h2 {
  height: 130px;
  margin-bottom: 24px;
  text-align: center;
}
.how-it-works__steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 154px;
  flex-wrap: wrap;
}
.how-it-works .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.how-it-works .step__icon {
  width: 106px;
  height: 106px;
  background: rgb(55, 40, 57);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.how-it-works .step__icon img {
  width: 48px;
  height: 48px;
}
.how-it-works .step__title {
  font-size: 24px;
  font-weight: 600;
  color: #FFCE4E;
}

@media (max-width: 375px) {
  .how-it-works {
    margin-top: 32px;
  }
  .how-it-works h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .how-it-works__steps {
    flex-direction: column;
    gap: 16px;
  }
  .how-it-works .step {
    max-width: 100%;
  }
  .how-it-works .step__icon {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
  }
  .how-it-works .step__icon img {
    width: 32px;
    height: 32px;
  }
  .how-it-works .step__title {
    font-size: 16px;
  }
  .how-it-works img {
    display: none;
  }
}
.popular-collections {
  margin-top: 80px;
  margin-bottom: 80px;
}
.popular-collections__title {
  display: flex;
  width: 600px;
  height: 120px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 112px;
  position: relative;
}
.popular-collections__title h2 {
  z-index: 1;
}
.popular-collections__circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #e02f54;
  position: absolute;
  left: -30px;
}
.popular-collections__cards {
  display: flex;
  gap: 36px;
  justify-content: center;
  margin-bottom: 84px;
  flex-wrap: wrap;
}
.popular-collections__card {
  padding: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #3D2942;
}
.popular-collections__card-image {
  overflow: hidden;
  height: 272px;
  width: 453px;
}
.popular-collections__card-content {
  display: flex;
  align-items: center;
  gap: 24px;
}
.popular-collections__author {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #f5fbf2;
  font-weight: 400;
}
.popular-collections__type {
  font-size: 20px;
  color: #c2b5c6;
  font-weight: 500;
  margin-left: auto;
}
.popular-collections__view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.categories {
  padding-top: 80px;
  background-color: #251928;
}
.categories__title {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.categories__title .categories__title-circle {
  width: 110px;
  height: 110px;
  background: #8613A5;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  z-index: 1;
}
.categories__title h2 {
  z-index: 2;
  line-height: 120%;
}
.categories__cards {
  display: flex;
  gap: 42px;
  margin-bottom: 80px;
  justify-content: center;
  flex-wrap: wrap;
}
.categories__navigation {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: 80px;
  width: 136px;
  height: 54px;
}
.categories__view-all {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.categories__card {
  padding: 32px;
  background-color: rgb(61, 41, 66);
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.categories__author-group {
  display: flex;
  justify-content: space-between;
}

.categories__author-title {
  font-weight: 600;
  font-size: 24px;
}

.categories__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.categories__author-info {
  display: flex;
  gap: 12px;
}

.categories__author-sign {
  font-size: 18px;
  font-weight: 400;
  color: rgb(189, 170, 193);
}

.categories__card-likes {
  display: flex;
  gap: 12px;
}
.categories__card-likes p {
  font-weight: 400px;
  color: rgb(189, 170, 193);
  font-size: 24px;
}
.categories__card-likes img {
  width: 24px;
  height: 24px;
}

.categories__bid-info {
  display: flex;
  justify-content: space-between;
}

.categories__bid-title {
  font-weight: 400;
  font-size: 20px;
  color: rgb(198, 191, 200);
}

.categories__bid-value {
  font-family: "Oxanium", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.categories__btn {
  width: 100%;
  border: 1px rgb(253, 232, 179);
  font-weight: 500;
  font-size: 24px;
}

.creators {
  margin-top: 104px;
}
.creators__title {
  display: flex;
  height: 130px;
  align-items: center;
  margin-bottom: 80px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.creators__title .creators__title-circle {
  width: 110px;
  height: 110px;
  background: #E03054;
  border-radius: 50%;
  position: absolute;
  left: 108px;
  z-index: 1;
}
.creators__title h2 {
  z-index: 2;
}
.creators .creators__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin-bottom: 80px;
  justify-content: center;
}
.creators__view-all {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.creators__card {
  border-left: 2px solid rgb(224, 48, 84);
  background-color: rgb(48, 32, 52);
  display: flex;
  gap: 100px;
  padding: 26px;
}

.creators__creator-group {
  display: flex;
  gap: 24px;
}

.creators__creator-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.creators__card-info {
  padding: 11px 45px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-left: 2px solid rgb(73, 55, 78);
  align-items: center;
}

.creators__creator-name {
  font-family: "Oxanium", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.creators__balance-value {
  color: rgb(189, 170, 193);
  line-height: 36px;
  font-size: 24px;
  font-weight: 500;
}

.creators__value {
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5%;
}

.creators__card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  color: rgb(144, 130, 148);
}

.subscribe {
  position: relative;
  min-height: 452px;
  background: linear-gradient(110deg, rgb(28, 18, 31) 8%, rgba(28, 18, 31, 0.21) 87%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  background-image: url("/img/pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe__title {
  text-align: center;
  margin-bottom: 40px;
  line-height: 120%;
}

.subscribe__form {
  display: flex;
  width: 100%;
  max-width: 680px;
  background: transparent;
  border: 1px solid #FFCE4E;
  height: 96px;
  align-items: center;
}

.subscribe__input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #9B9E9A;
  font-size: 24px;
  padding: 0 32px;
}

.subscribe__btn {
  width: 244px;
  height: 100%;
  background: #FFCE4E;
  color: #1C121F;
  font-size: 24px;
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
}

.footer__wrap {
  width: 100%;
  background-color: #251928;
  padding: 111px 0px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__main-group {
  display: flex;
  gap: 51px;
  align-items: flex-start;
}

.footer__main-group-content {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.footer__main-group-content p {
  font-size: 20px;
  color: #96839B;
}

.footer__socials {
  display: flex;
  gap: 29px;
}

.footer__copyright {
  color: #968399;
  font-size: 16px;
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  gap: 227px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__column a {
  font-size: 20px;
  color: #96839B;
}

.footer__column-title {
  color: #F5FBF2;
  font-size: 22px;
  margin-bottom: 18px;
  font-weight: 700;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list li {
  margin-bottom: 14px;
}

.footer__list a {
  color: #968399;
  font-size: 18px;
}

.footer__list a:hover {
  color: #F5FBF2;
}/*# sourceMappingURL=style.css.map */